<mat-horizontal-stepper #stepper id="wizard" labelPosition="bottom">
  <mat-step [stepControl]="firstFormGroup" *ngFor="let activity of activities;let i = index">
    <ng-template matStepLabel>{{activity.data.name}}</ng-template>
    <form [formGroup]="firstFormGroup">
        <step [activity]="activity"></step>
        <div class="nav-actions">
          <button mat-button matStepperPrevious mat-raised-button color="primary" [disabled]="i==0">
                <mat-icon class="mr-2">arrow_back</mat-icon>Back
            </button>
          <button mat-button matStepperNext mat-raised-button color="primary" [disabled]="i==(activities.length-1)">
                Next<mat-icon class="ml-2">arrow_forward</mat-icon>
          </button>
        </div>
    </form>
  </mat-step>
  <ng-template matStepperIcon="number">
    <mat-icon>done_outline</mat-icon>
  </ng-template>
</mat-horizontal-stepper>
