<mat-horizontal-stepper id="wizard" labelPosition="bottom">
    <mat-step [stepControl]="firstFormGroup" *ngFor="let activity of activities">
      <step [activity]="activity"></step>
        
        <ng-template matStepLabel>Bid Basic details</ng-template>
        <form [formGroup]="firstFormGroup">
            <bid-basic-details></bid-basic-details>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>

    
</mat-horizontal-stepper>
