<mat-card class="example-card">
	<mat-card-header>
		<mat-card-title>
			<h2>{{data.name}} <i class="material-icons info">info</i></h2>
    </mat-card-title>
  </mat-card-header>
<mat-divider></mat-divider>
  <mat-card-content>
    <div class="content">
      <button class="mat-raised-button mat-button-base"> Choose Template </button>
      OR
      <button class="mat-raised-button mat-button-base"> Build your own</button>
    </div>

<carousel [itemsPerSlide]="itemsPerSlide" [interval]="false" [noWrap]="false">
  <slide *ngFor="let template of templates; let index=index">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <!-- <pre>{{template|json}}</pre> -->
        <mat-card-title>{{template.name}} </mat-card-title>
        <mat-card-subtitle>{{template.category}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      <img mat-card-image src="https://bab-assets1.babapi.ooo/img/html_widget_images/8437262/28ba56ca5684a_doctemplate.png.999x200x.png"
      width="200" alt="Bid Template">
      </mat-card-content>
    </mat-card>
  </slide>
</carousel>
 



  </mat-card-content>
</mat-card>